# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.env

# Editor
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db

# Firebase
serviceAccountKey.json
firebase-debug.log

# Build / dist
dist/
coverage/
